.mobile-header
  display: flex
  padding: 20px 0
  margin: 0 15px

.mobile-header__menu
  a
    display: inline-block
    width: 20px
    height: 20px
    background: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/bars.svg')
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: contain

.mobile-header__logo
  flex: 1
  text-align: right

  a
    font-size: 16px
    text-transform: uppercase
    font-weight: bold
    text-decoration: none
    color: $dark-body-color

@media screen and (min-width: 768px)
  .mobile-menu 
      display: none

  .menu
      display: block

  .submenu 
    padding: 0px 0px 10px 0px

  .submenu a 
    color: #9A9A9A

@media screen and (max-width: 767px)
  .mobile-menu 
      display: block

  .menu
      display: none

  .mobile-menu-open-button 
    position: relative
    display: inline-block
    padding: 12px
    left: 10px
    height: 39px

  .mobile-menu-open-button-icon 
    display: inline-block
    width: 22px
    height: 15px
    background: linear-gradient(to bottom, #444444, #444444 20%, transparent 20%, transparent 40%, #444444 40%, #444444 60%, transparent 60%, transparent 80%, #444444 80%, #444444 100%)

